In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

plt.rcParams['font.family'] = 'Malgun Gothic'  # Windows 예시
plt.rcParams['axes.unicode_minus'] = False

In [13]:
df_2023 = pd.read_csv("C:/Users/rmagm/OneDrive/바탕 화면/vscode/서울특별시 단독,다가구 전월세 데이터/단독다가구(전월세)_실거래가_2023년.csv",  encoding='cp949', header=15)
df_2024 = pd.read_csv("C:/Users/rmagm/OneDrive/바탕 화면/vscode/서울특별시 단독,다가구 전월세 데이터/단독다가구(전월세)_실거래가_2024년.csv",  encoding='cp949', header=15)

C:\Users\rmagm\AppData\Local\Temp\ipykernel_5756\995738549.py:1: DtypeWarning: Columns (9,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2023 = pd.read_csv("C:/Users/rmagm/OneDrive/바탕 화면/vscode/서울특별시 단독,다가구 전월세 데이터/단독다가구(전월세)_실거래가_2023년.csv",  encoding='cp949', header=15)
C:\Users\rmagm\AppData\Local\Temp\ipykernel_5756\995738549.py:2: DtypeWarning: Columns (9,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2024 = pd.read_csv("C:/Users/rmagm/OneDrive/바탕 화면/vscode/서울특별시 단독,다가구 전월세 데이터/단독다가구(전월세)_실거래가_2024년.csv",  encoding='cp949', header=15)

In [14]:
df_deal2023 = pd.read_csv("C:/Users/rmagm/OneDrive/바탕 화면/vscode/서울특별시 단독,다가구 전월세 데이터/단독다가구(전월세)_실거래가_2023년.csv",  encoding='cp949', header=15)
df_deal2024 = pd.read_csv("C:/Users/rmagm/OneDrive/바탕 화면/vscode/서울특별시 단독,다가구 전월세 데이터/단독다가구(전월세)_실거래가_2024년.csv",  encoding='cp949', header=15)

C:\Users\rmagm\AppData\Local\Temp\ipykernel_5756\593541432.py:1: DtypeWarning: Columns (9,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_deal2023 = pd.read_csv("C:/Users/rmagm/OneDrive/바탕 화면/vscode/서울특별시 단독,다가구 전월세 데이터/단독다가구(전월세)_실거래가_2023년.csv",  encoding='cp949', header=15)
C:\Users\rmagm\AppData\Local\Temp\ipykernel_5756\593541432.py:2: DtypeWarning: Columns (9,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_deal2024 = pd.read_csv("C:/Users/rmagm/OneDrive/바탕 화면/vscode/서울특별시 단독,다가구 전월세 데이터/단독다가구(전월세)_실거래가_2024년.csv",  encoding='cp949', header=15)

In [25]:
print("2023년 단독 다가구 전월세")
display(df_2023.head())
print("2024년 단독 다가구 전월세")
display(df_2024.head())

2023년 단독 다가구 전월세

,NO,시군구,번지,도로조건,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,1,서울특별시 종로구 신영동,2**,8m미만,125.86,전세,202312,31,"10,000",0,1969.0,세검정로7길,202401~202601,신규,-,NaN,NaN,단독다가구
1,2,서울특별시 성동구 성수동1가,1*,8m미만,39.83,전세,202312,31,"9,200",0,1990.0,상원10가길,202312~202512,신규,-,NaN,NaN,단독다가구
2,3,서울특별시 성동구 용답동,3*,12m미만,22.00,월세,202312,31,500,35,1993.0,용답25길,202401~202601,신규,-,NaN,NaN,단독다가구
3,4,서울특별시 성동구 성수동1가,7*,12m미만,10.93,월세,202312,31,150,57,NaN,뚝섬로3길,202401~202412,신규,-,NaN,NaN,단독다가구
4,5,서울특별시 용산구 용산동2가,*,8m미만,20.00,월세,202312,31,"1,000",30,1995.0,신흥로25가길,-,-,-,NaN,NaN,단독다가구

2024년 단독 다가구 전월세

,NO,시군구,번지,도로조건,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,1,서울특별시 중구 황학동,1**,12m미만,24.00,월세,202412,31,400,40,1991.0,마장로3길,202501~202601,신규,-,NaN,NaN,단독다가구
1,2,서울특별시 성동구 행당동,3**,8m미만,42.00,전세,202412,31,"14,000",0,1998.0,마조로1길,202501~202701,갱신,-,"13,000",0.0,단독다가구
2,3,서울특별시 성동구 행당동,3**,12m미만,26.00,월세,202412,31,"3,000",70,NaN,행당로11길,202502~202702,신규,-,NaN,NaN,단독다가구
3,4,서울특별시 성동구 옥수동,3**,8m미만,169.30,월세,202412,31,"1,000",80,1991.0,한림말3길,202501~202701,신규,-,NaN,NaN,단독다가구
4,5,서울특별시 용산구 서계동,2**,8m미만,26.45,전세,202412,31,"3,000",0,1944.0,효창원로104라길,202501~202701,신규,-,NaN,NaN,단독다가구

In [16]:
# 단독 다가구 전월세
print("2023년 단독 다가구 전월세")
print(df_2023.info())
print("2024년 단독 다가구 전월세")
print(df_2024.info())

2023년 단독 다가구 전월세
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154385 entries, 0 to 154384
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   NO            154385 non-null  int64
 1   시군구           154385 non-null  object
 2   번지            154374 non-null  object
 3   도로조건          154385 non-null  object
 4   계약면적(㎡)       154385 non-null  float64
 5   전월세구분         154385 non-null  object
 6   계약년월          154385 non-null  int64
 7   계약일           154385 non-null  int64
 8   보증금(만원)       154385 non-null  object
 9   월세금(만원)       154385 non-null  object
 10  건축년도          143431 non-null  float64
 11  도로명           143360 non-null  object
 12  계약기간          154385 non-null  object
 13  계약구분          154385 non-null  object
 14  갱신요구권 사용      154385 non-null  object
 15  종전계약 보증금(만원)  14808 non-null   object
 16  종전계약 월세(만원)   14808 non-null   object
 17  주택유형          154385 non-null  object
dtypes: float64(2), int64(3), object(13)
memory usage: 21.2+ MB
None
2024년 단독 다가구 전월세
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141371 entries, 0 to 141370
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   NO            141371 non-null  int64
 1   시군구           141371 non-null  object
 2   번지            141371 non-null  object
 3   도로조건          141371 non-null  object
 4   계약면적(㎡)       141371 non-null  float64
 5   전월세구분         141371 non-null  object
 6   계약년월          141371 non-null  int64
 7   계약일           141371 non-null  int64
 8   보증금(만원)       141371 non-null  object
 9   월세금(만원)       141371 non-null  object
 10  건축년도          120702 non-null  float64
 11  도로명           140333 non-null  object
 12  계약기간          141371 non-null  object
 13  계약구분          141371 non-null  object
 14  갱신요구권 사용      141371 non-null  object
 15  종전계약 보증금(만원)  14550 non-null   object
 16  종전계약 월세(만원)   14550 non-null   object
 17  주택유형          141371 non-null  object
dtypes: float64(2), int64(3), object(13)
memory usage: 19.4+ MB
None

In [26]:
# 데이터 모든 컬럼 동일함으로 '번지', '도로조건' 컬럼 제거
# '전월세구분'에서 전세만 추출
drop_columns = ['번지','도로조건']

# 컬럼 제거 및 필터링
def filtered_df(df):
    # 1. 번지, 도로 저건 제거
    df_filtered = df.drop(columns = drop_columns, errors = 'ignore')

    # 2. 전월세구분 '전세'인 행만 추출
    df_filtered = df_filtered[df_filtered['전월세구분'] == '전세']

    return df_filtered.reset_index(drop = True)


# 3. 각 연도별 데이터셋 처리
df_2023_cleaned = filtered_df(df_2023)
df_2024_cleaned = filtered_df(df_2024)

print("2023년 단독 다가구 전세")
display(df_2023_cleaned.head())

print("2024년 단독 다가구 전세")
display(df_2024_cleaned.head())

2023년 단독 다가구 전세

,NO,시군구,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,1,서울특별시 종로구 신영동,125.86,전세,202312,31,"10,000",0,1969.0,세검정로7길,202401~202601,신규,-,NaN,NaN,단독다가구
1,2,서울특별시 성동구 성수동1가,39.83,전세,202312,31,"9,200",0,1990.0,상원10가길,202312~202512,신규,-,NaN,NaN,단독다가구
2,9,서울특별시 광진구 구의동,21.00,전세,202312,31,"12,000",0,2001.0,아차산로49길,202402~202602,신규,-,NaN,NaN,단독다가구
3,12,서울특별시 중랑구 망우동,61.60,전세,202312,31,"14,600",0,2002.0,봉우재로53길,-,-,-,NaN,NaN,단독다가구
4,30,서울특별시 영등포구 대림동,26.00,전세,202312,31,"6,500",0,2010.0,도림로52길,202401~202601,신규,-,NaN,NaN,단독다가구

2024년 단독 다가구 전세

,NO,시군구,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,2,서울특별시 성동구 행당동,42.00,전세,202412,31,"14,000",0,1998.0,마조로1길,202501~202701,갱신,-,"13,000",0.0,단독다가구
1,5,서울특별시 용산구 서계동,26.45,전세,202412,31,"3,000",0,1944.0,효창원로104라길,202501~202701,신규,-,NaN,NaN,단독다가구
2,12,서울특별시 용산구 용산동2가,61.17,전세,202412,31,"25,000",0,1994.0,신흥로25가길,202502~202702,신규,-,NaN,NaN,단독다가구
3,19,서울특별시 광진구 중곡동,40.80,전세,202412,31,"11,000",0,1990.0,능동로43길,202502~202702,신규,-,NaN,NaN,단독다가구
4,22,서울특별시 성동구 성수동2가,50.00,전세,202412,31,"16,000",0,1995.0,성덕정길,202502~202702,신규,-,NaN,NaN,단독다가구

In [18]:
# 각 년도별 컬럼 결측값
display(pd.concat(
    [
        df_2023_cleaned.isnull().sum(),
        df_2024_cleaned.isnull().sum()
    ],
    axis=1,
    keys=['2023', '2024']
).reset_index().rename(columns={'index': 'column'}))

          column   2023   2024
0             NO      0      0
1            시군구      0      0
2        계약면적(㎡)      0      0
3          전월세구분      0      0
4           계약년월      0      0
5            계약일      0      0
6        보증금(만원)      0      0
7        월세금(만원)      0      0
8           건축년도   3280   5144
9            도로명   4649    401
10          계약기간      0      0
11          계약구분      0      0
12      갱신요구권 사용      0      0
13  종전계약 보증금(만원)  34146  26209
14   종전계약 월세(만원)  34146  26209
15          주택유형      0      0

In [23]:
# 보증금(만원), 월세금(만원) 데이터 타입 int로 변경

# 전처리 함수 정의
def clean_rent_columns(df):
    for col in ['보증금(만원)', '월세금(만원)']:
        df[col] = (
            df[col]
            .astype(str)               # 문자열로 변환
            .str.replace(',', '')      # 쉼표 제거
            .str.strip()               # 공백 제거
        )
        df[col] = pd.to_numeric(df[col], errors='coerce')  # 숫자로 변환, 오류시 NaN
        df[col] = df[col].fillna(0).astype(int)            # NaN은 0으로 대체 후 int
    return df

# 데이터프레임별로 처리
df_2023_cleaned = clean_rent_columns(df_2023_cleaned)
df_2024_cleaned = clean_rent_columns(df_2024_cleaned)

# 결과 확인
print("2023년 단독 다가구 전세")
display(df_2023_cleaned.head())

print("2024년 단독 다가구 전세")
display(df_2024_cleaned.head())

2023년 단독 다가구 전세

,NO,시군구,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,1,서울특별시 종로구 신영동,125.86,전세,202312,31,10000,0,1969.0,세검정로7길,202401~202601,신규,-,NaN,NaN,단독다가구
1,2,서울특별시 성동구 성수동1가,39.83,전세,202312,31,9200,0,1990.0,상원10가길,202312~202512,신규,-,NaN,NaN,단독다가구
2,9,서울특별시 광진구 구의동,21.00,전세,202312,31,12000,0,2001.0,아차산로49길,202402~202602,신규,-,NaN,NaN,단독다가구
3,12,서울특별시 중랑구 망우동,61.60,전세,202312,31,14600,0,2002.0,봉우재로53길,-,-,-,NaN,NaN,단독다가구
4,30,서울특별시 영등포구 대림동,26.00,전세,202312,31,6500,0,2010.0,도림로52길,202401~202601,신규,-,NaN,NaN,단독다가구

2024년 단독 다가구 전세

,NO,시군구,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,2,서울특별시 성동구 행당동,42.00,전세,202412,31,14000,0,1998.0,마조로1길,202501~202701,갱신,-,"13,000",0.0,단독다가구
1,5,서울특별시 용산구 서계동,26.45,전세,202412,31,3000,0,1944.0,효창원로104라길,202501~202701,신규,-,NaN,NaN,단독다가구
2,12,서울특별시 용산구 용산동2가,61.17,전세,202412,31,25000,0,1994.0,신흥로25가길,202502~202702,신규,-,NaN,NaN,단독다가구
3,19,서울특별시 광진구 중곡동,40.80,전세,202412,31,11000,0,1990.0,능동로43길,202502~202702,신규,-,NaN,NaN,단독다가구
4,22,서울특별시 성동구 성수동2가,50.00,전세,202412,31,16000,0,1995.0,성덕정길,202502~202702,신규,-,NaN,NaN,단독다가구

In [27]:
# 계약 년월 datetime으로 타입 변경
df_2023_cleaned['계약년월'] = pd.to_datetime(df_2023_cleaned['계약년월'].astype(str), format='%Y%m')
df_2024_cleaned['계약년월'] = pd.to_datetime(df_2024_cleaned['계약년월'].astype(str), format='%Y%m')

In [30]:
df_2023_cleaned = df_2023_cleaned[df_2023_cleaned['계약년월']>='2023-06-01']
df_2023_cleaned['계약년월'].min()

Timestamp('2023-06-01 00:00:00')

In [35]:
df_2023_cleaned['구'] = df_2023_cleaned['시군구'].str.extract(r'(\S+구)')
display(df_2023_cleaned.head())
df_2024_cleaned['구'] = df_2024_cleaned['시군구'].str.extract(r'(\S+구)')
display(df_2024_cleaned.head())

,NO,시군구,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형,구
0,1,서울특별시 종로구 신영동,125.86,전세,2023-12-01,31,"10,000",0,1969.0,세검정로7길,202401~202601,신규,-,NaN,NaN,단독다가구,종로구
1,2,서울특별시 성동구 성수동1가,39.83,전세,2023-12-01,31,"9,200",0,1990.0,상원10가길,202312~202512,신규,-,NaN,NaN,단독다가구,성동구
2,9,서울특별시 광진구 구의동,21.00,전세,2023-12-01,31,"12,000",0,2001.0,아차산로49길,202402~202602,신규,-,NaN,NaN,단독다가구,광진구
3,12,서울특별시 중랑구 망우동,61.60,전세,2023-12-01,31,"14,600",0,2002.0,봉우재로53길,-,-,-,NaN,NaN,단독다가구,중랑구
4,30,서울특별시 영등포구 대림동,26.00,전세,2023-12-01,31,"6,500",0,2010.0,도림로52길,202401~202601,신규,-,NaN,NaN,단독다가구,영등포구

,NO,시군구,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형,구
0,2,서울특별시 성동구 행당동,42.00,전세,2024-12-01,31,"14,000",0,1998.0,마조로1길,202501~202701,갱신,-,"13,000",0.0,단독다가구,성동구
1,5,서울특별시 용산구 서계동,26.45,전세,2024-12-01,31,"3,000",0,1944.0,효창원로104라길,202501~202701,신규,-,NaN,NaN,단독다가구,용산구
2,12,서울특별시 용산구 용산동2가,61.17,전세,2024-12-01,31,"25,000",0,1994.0,신흥로25가길,202502~202702,신규,-,NaN,NaN,단독다가구,용산구
3,19,서울특별시 광진구 중곡동,40.80,전세,2024-12-01,31,"11,000",0,1990.0,능동로43길,202502~202702,신규,-,NaN,NaN,단독다가구,광진구
4,22,서울특별시 성동구 성수동2가,50.00,전세,2024-12-01,31,"16,000",0,1995.0,성덕정길,202502~202702,신규,-,NaN,NaN,단독다가구,성동구

In [37]:
print("2023년 구")
display(df_2023_cleaned['구'].value_counts().reset_index())
print("2024년 구")
df_2024_cleaned['구'].value_counts().reset_index()

2023년 구

       구  count
0    관악구   2659
1    광진구   1743
2    동작구   1678
3    중랑구   1451
4    강동구   1096
5   영등포구   1090
6    성북구   1058
7   동대문구   1017
8    강남구    924
9    송파구    871
10   강북구    824
11   마포구    816
12   성동구    816
13   은평구    792
14   서초구    719
15   용산구    712
16   구로구    665
17   금천구    630
18   강서구    626
19  서대문구    623
20   양천구    455
21   도봉구    453
22   노원구    403
23   종로구    400
24    중구    204

2024년 구

       구  count
0    관악구   3337
1    광진구   2577
2    동작구   2295
3    중랑구   2071
4    강동구   1646
5   영등포구   1465
6   동대문구   1447
7    송파구   1437
8    성북구   1407
9    강남구   1352
10   성동구   1248
11   강북구   1222
12   마포구   1154
13  서대문구   1143
14   은평구   1135
15   용산구   1111
16   구로구   1011
17   서초구    930
18   금천구    890
19   강서구    878
20   노원구    661
21   양천구    640
22   도봉구    617
23   종로구    613
24    중구    347

In [40]:
df_2023_cleaned['전월세구분'].value_counts()
df_2024_cleaned['전월세구분'].value_counts()

전월세구분
전세    32634
Name: count, dtype: int64

In [41]:
# 구별 거래건수 집계
gu_counts_23 = df_2023_cleaned['구'].value_counts()
gu_counts_24 = df_2023_cleaned['구'].value_counts()

# 합치기 후 결측값 처리 및 정수형 변환
combined = gu_counts_23.add(gu_counts_24, fill_value=0).astype(int)

# 시리즈 → 데이터프레임 변환
combined_df = combined.reset_index()
combined_df.columns = ['구', '거래건수']

# 거래건수 기준 정렬
combined_df = combined_df.sort_values(by='거래건수', ascending=False)

# 결과 출력
combined_df

       구  거래건수
0    관악구  5318
1    광진구  3486
2    동작구  3356
3    중랑구  2902
4    강동구  2192
5   영등포구  2180
6    성북구  2116
7   동대문구  2034
8    강남구  1848
9    송파구  1742
10   강북구  1648
11   마포구  1632
12   성동구  1632
13   은평구  1584
14   서초구  1438
15   용산구  1424
16   구로구  1330
17   금천구  1260
18   강서구  1252
19  서대문구  1246
20   양천구   910
21   도봉구   906
22   노원구   806
23   종로구   800
24    중구   408

In [20]:
print("2023년 단독 다가구 전세")
display(df_2023_cleaned['계약구분'].value_counts().reset_index())
print("2024년 단독 다가구 전세")
display(df_2024_cleaned['계약구분'].value_counts().reset_index())

2023년 단독 다가구 전세

  계약구분  count
0   신규  21359
1    -  12787
2   갱신   7090

2024년 단독 다가구 전세

  계약구분  count
0   신규  23222
1   갱신   6425
2    -   2987

In [ ]:
df_2023_

## 2. 서울 단독 다가구 매매

In [12]:
print("2023년 단독 다가구 매매")
display(df_deal2023.head())
print("2024년 단독 다가구 매매")
display(df_deal2024.head())

2023년 단독 다가구 매매

,NO,시군구,번지,도로조건,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,1,서울특별시 종로구 신영동,2**,8m미만,125.86,전세,202312,31,"10,000",0,1969.0,세검정로7길,202401~202601,신규,-,NaN,NaN,단독다가구
1,2,서울특별시 성동구 성수동1가,1*,8m미만,39.83,전세,202312,31,"9,200",0,1990.0,상원10가길,202312~202512,신규,-,NaN,NaN,단독다가구
2,3,서울특별시 성동구 용답동,3*,12m미만,22.00,월세,202312,31,500,35,1993.0,용답25길,202401~202601,신규,-,NaN,NaN,단독다가구
3,4,서울특별시 성동구 성수동1가,7*,12m미만,10.93,월세,202312,31,150,57,NaN,뚝섬로3길,202401~202412,신규,-,NaN,NaN,단독다가구
4,5,서울특별시 용산구 용산동2가,*,8m미만,20.00,월세,202312,31,"1,000",30,1995.0,신흥로25가길,-,-,-,NaN,NaN,단독다가구

2024년 단독 다가구 매매

,NO,시군구,번지,도로조건,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,1,서울특별시 중구 황학동,1**,12m미만,24.00,월세,202412,31,400,40,1991.0,마장로3길,202501~202601,신규,-,NaN,NaN,단독다가구
1,2,서울특별시 성동구 행당동,3**,8m미만,42.00,전세,202412,31,"14,000",0,1998.0,마조로1길,202501~202701,갱신,-,"13,000",0.0,단독다가구
2,3,서울특별시 성동구 행당동,3**,12m미만,26.00,월세,202412,31,"3,000",70,NaN,행당로11길,202502~202702,신규,-,NaN,NaN,단독다가구
3,4,서울특별시 성동구 옥수동,3**,8m미만,169.30,월세,202412,31,"1,000",80,1991.0,한림말3길,202501~202701,신규,-,NaN,NaN,단독다가구
4,5,서울특별시 용산구 서계동,2**,8m미만,26.45,전세,202412,31,"3,000",0,1944.0,효창원로104라길,202501~202701,신규,-,NaN,NaN,단독다가구

In [24]:
# 단독 다가구 전월세
print("2023년 단독 다가구 전월세")
print(df_deal2023.info())
print("2024년 단독 다가구 전월세")
print(df_deal2024.info())

2023년 단독 다가구 전월세
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154385 entries, 0 to 154384
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   NO            154385 non-null  int64
 1   시군구           154385 non-null  object
 2   번지            154374 non-null  object
 3   도로조건          154385 non-null  object
 4   계약면적(㎡)       154385 non-null  float64
 5   전월세구분         154385 non-null  object
 6   계약년월          154385 non-null  int64
 7   계약일           154385 non-null  int64
 8   보증금(만원)       154385 non-null  object
 9   월세금(만원)       154385 non-null  object
 10  건축년도          143431 non-null  float64
 11  도로명           143360 non-null  object
 12  계약기간          154385 non-null  object
 13  계약구분          154385 non-null  object
 14  갱신요구권 사용      154385 non-null  object
 15  종전계약 보증금(만원)  14808 non-null   object
 16  종전계약 월세(만원)   14808 non-null   object
 17  주택유형          154385 non-null  object
dtypes: float64(2), int64(3), object(13)
memory usage: 21.2+ MB
None
2024년 단독 다가구 전월세
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141371 entries, 0 to 141370
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   NO            141371 non-null  int64
 1   시군구           141371 non-null  object
 2   번지            141371 non-null  object
 3   도로조건          141371 non-null  object
 4   계약면적(㎡)       141371 non-null  float64
 5   전월세구분         141371 non-null  object
 6   계약년월          141371 non-null  int64
 7   계약일           141371 non-null  int64
 8   보증금(만원)       141371 non-null  object
 9   월세금(만원)       141371 non-null  object
 10  건축년도          120702 non-null  float64
 11  도로명           140333 non-null  object
 12  계약기간          141371 non-null  object
 13  계약구분          141371 non-null  object
 14  갱신요구권 사용      141371 non-null  object
 15  종전계약 보증금(만원)  14550 non-null   object
 16  종전계약 월세(만원)   14550 non-null   object
 17  주택유형          141371 non-null  object
dtypes: float64(2), int64(3), object(13)
memory usage: 19.4+ MB
None

In [14]:
df_deal2023[df_deal2023['계약구분'] == '-']

,NO,시군구,번지,도로조건,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
4,5,서울특별시 용산구 용산동2가,*,8m미만,20.00,월세,202312,31,"1,000",30,1995.0,신흥로25가길,-,-,-,NaN,NaN,단독다가구
11,12,서울특별시 중랑구 망우동,5**,8m미만,61.60,전세,202312,31,"14,600",0,2002.0,봉우재로53길,-,-,-,NaN,NaN,단독다가구
30,31,서울특별시 영등포구 대림동,1***,8m미만,40.70,전세,202312,31,"13,000",0,1989.0,디지털로45길,-,-,-,NaN,NaN,단독다가구
36,37,서울특별시 동작구 신대방동,3**,-,33.00,월세,202312,31,"5,000",70,NaN,NaN,-,-,-,NaN,NaN,단독다가구
45,46,서울특별시 노원구 월계동,5**,8m미만,19.80,월세,202312,31,"4,200",15,1991.0,월계로44가길,-,-,-,NaN,NaN,단독다가구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154369,154370,서울특별시 관악구 봉천동,1***,-,142.43,월세,202301,1,"2,000",50,2010.0,NaN,-,-,-,NaN,NaN,단독다가구
154371,154372,서울특별시 동작구 신대방동,6**,8m미만,16.55,월세,202301,1,300,28,2007.0,신대방1가길,-,-,-,NaN,NaN,단독다가구
154372,154373,서울특별시 금천구 독산동,1***,8m미만,37.65,전세,202301,1,"9,000",0,1993.0,시흥대로90길,-,-,-,NaN,NaN,단독다가구
154381,154382,서울특별시 금천구 시흥동,8**,8m미만,24.00,월세,202301,1,500,23,1988.0,독산로28길,-,-,-,NaN,NaN,단독다가구
154383,154384,서울특별시 구로구 가리봉동,2*,8m미만,20.00,월세,202301,1,300,35,1991.0,구로동로5길,-,-,-,NaN,NaN,단독다가구

In [15]:
# 데이터 모든 컬럼 동일함으로 '번지', '도로조건' 컬럼 제거
# '전월세구분'에서 전세만 추출
drop_columns = ['번지','도로조건']

# 컬럼 제거 및 필터링
def filtered_df(df):
    # 1. 번지, 도로 저건 제거
    df_deal_filtered = df.drop(columns = drop_columns, errors = 'ignore')

    # 2. 전월세구분 '전세'인 행만 추출
    df_deal_filtered = df_deal_filtered[df_deal_filtered['전월세구분'] == '전세']

    return df_deal_filtered.reset_index(drop = True)


# 3. 각 연도별 데이터셋 처리
df_deal2023_cleaned = filtered_df(df_deal2023)
df_deal2024_cleaned = filtered_df(df_deal2024)

print("2023년 단독 다가구 전세")
display(df_deal2023_cleaned)

print("2024년 단독 다가구 전세")
display(df_deal2024_cleaned)

2023년 단독 다가구 전세

,NO,시군구,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,1,서울특별시 종로구 신영동,125.86,전세,202312,31,"10,000",0,1969.0,세검정로7길,202401~202601,신규,-,NaN,NaN,단독다가구
1,2,서울특별시 성동구 성수동1가,39.83,전세,202312,31,"9,200",0,1990.0,상원10가길,202312~202512,신규,-,NaN,NaN,단독다가구
2,9,서울특별시 광진구 구의동,21.00,전세,202312,31,"12,000",0,2001.0,아차산로49길,202402~202602,신규,-,NaN,NaN,단독다가구
3,12,서울특별시 중랑구 망우동,61.60,전세,202312,31,"14,600",0,2002.0,봉우재로53길,-,-,-,NaN,NaN,단독다가구
4,30,서울특별시 영등포구 대림동,26.00,전세,202312,31,"6,500",0,2010.0,도림로52길,202401~202601,신규,-,NaN,NaN,단독다가구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41231,154353,서울특별시 서대문구 홍제동,28.00,전세,202301,1,"15,600",0,NaN,NaN,-,-,-,NaN,NaN,단독다가구
41232,154359,서울특별시 성북구 하월곡동,16.00,전세,202301,1,"4,500",0,2013.0,월곡로18가길,-,-,-,NaN,NaN,단독다가구
41233,154368,서울특별시 동작구 신대방동,24.00,전세,202301,1,"3,500",0,1970.0,신대방6길,-,-,-,NaN,NaN,단독다가구
41234,154373,서울특별시 금천구 독산동,37.65,전세,202301,1,"9,000",0,1993.0,시흥대로90길,-,-,-,NaN,NaN,단독다가구
41235,154383,서울특별시 영등포구 당산동1가,42.70,전세,202301,1,"28,324",0,1970.0,영등포로29길,202301~202412,신규,-,NaN,NaN,단독다가구

2024년 단독 다가구 전세

,NO,시군구,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,2,서울특별시 성동구 행당동,42.00,전세,202412,31,"14,000",0,1998.0,마조로1길,202501~202701,갱신,-,"13,000",0.0,단독다가구
1,5,서울특별시 용산구 서계동,26.45,전세,202412,31,"3,000",0,1944.0,효창원로104라길,202501~202701,신규,-,NaN,NaN,단독다가구
2,12,서울특별시 용산구 용산동2가,61.17,전세,202412,31,"25,000",0,1994.0,신흥로25가길,202502~202702,신규,-,NaN,NaN,단독다가구
3,19,서울특별시 광진구 중곡동,40.80,전세,202412,31,"11,000",0,1990.0,능동로43길,202502~202702,신규,-,NaN,NaN,단독다가구
4,22,서울특별시 성동구 성수동2가,50.00,전세,202412,31,"16,000",0,1995.0,성덕정길,202502~202702,신규,-,NaN,NaN,단독다가구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32629,141332,서울특별시 중랑구 망우동,36.00,전세,202401,1,"4,000",0,NaN,용마산로120길,202401~202812,신규,-,NaN,NaN,단독다가구
32630,141338,서울특별시 동작구 노량진동,50.00,전세,202401,1,"15,000",0,1970.0,장승배기로18가길,202401~202412,신규,-,NaN,NaN,단독다가구
32631,141349,서울특별시 서대문구 창천동,20.00,전세,202401,1,"10,000",0,2001.0,신촌로7길,202404~202602,신규,-,NaN,NaN,단독다가구
32632,141353,서울특별시 서대문구 남가좌동,18.00,전세,202401,1,"7,000",0,2017.0,증가로8길,202402~202501,신규,-,NaN,NaN,단독다가구
32633,141363,서울특별시 노원구 하계동,50.00,전세,202401,1,"10,000",0,1995.0,공릉로58길,202401~202612,갱신,-,"9,500",0.0,단독다가구

In [17]:
# 각 년도별 컬럼 결측값
display(pd.concat(
    [
        df_deal2023_cleaned.isnull().sum(),
        df_deal2024_cleaned.isnull().sum()
    ],
    axis=1,
    keys=['2023', '2024']
).reset_index().rename(columns={'index': 'column'}))

          column   2023   2024
0             NO      0      0
1            시군구      0      0
2        계약면적(㎡)      0      0
3          전월세구분      0      0
4           계약년월      0      0
5            계약일      0      0
6        보증금(만원)      0      0
7        월세금(만원)      0      0
8           건축년도   3280   5144
9            도로명   4649    401
10          계약기간      0      0
11          계약구분      0      0
12      갱신요구권 사용      0      0
13  종전계약 보증금(만원)  34146  26209
14   종전계약 월세(만원)  34146  26209
15          주택유형      0      0

In [18]:
# 보증금(만원), 월세금(만원) 데이터 타입 int로 변경

# 전처리 함수 정의
def clean_rent_columns(df):
    for col in ['보증금(만원)', '월세금(만원)']:
        df[col] = (
            df[col]
            .astype(str)               # 문자열로 변환
            .str.replace(',', '')      # 쉼표 제거
            .str.strip()               # 공백 제거
        )
        df[col] = pd.to_numeric(df[col], errors='coerce')  # 숫자로 변환, 오류시 NaN
        df[col] = df[col].fillna(0).astype(int)            # NaN은 0으로 대체 후 int
    return df

# 데이터프레임별로 처리
df_deal2023_cleaned = clean_rent_columns(df_deal2023_cleaned)
df_deal2024_cleaned = clean_rent_columns(df_deal2024_cleaned)

# 결과 확인
print("2023년 단독 다가구 전세")
display(df_deal2023_cleaned)

print("2024년 단독 다가구 전세")
display(df_deal2024_cleaned)

2023년 단독 다가구 전세

,NO,시군구,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,1,서울특별시 종로구 신영동,125.86,전세,202312,31,10000,0,1969.0,세검정로7길,202401~202601,신규,-,NaN,NaN,단독다가구
1,2,서울특별시 성동구 성수동1가,39.83,전세,202312,31,9200,0,1990.0,상원10가길,202312~202512,신규,-,NaN,NaN,단독다가구
2,9,서울특별시 광진구 구의동,21.00,전세,202312,31,12000,0,2001.0,아차산로49길,202402~202602,신규,-,NaN,NaN,단독다가구
3,12,서울특별시 중랑구 망우동,61.60,전세,202312,31,14600,0,2002.0,봉우재로53길,-,-,-,NaN,NaN,단독다가구
4,30,서울특별시 영등포구 대림동,26.00,전세,202312,31,6500,0,2010.0,도림로52길,202401~202601,신규,-,NaN,NaN,단독다가구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41231,154353,서울특별시 서대문구 홍제동,28.00,전세,202301,1,15600,0,NaN,NaN,-,-,-,NaN,NaN,단독다가구
41232,154359,서울특별시 성북구 하월곡동,16.00,전세,202301,1,4500,0,2013.0,월곡로18가길,-,-,-,NaN,NaN,단독다가구
41233,154368,서울특별시 동작구 신대방동,24.00,전세,202301,1,3500,0,1970.0,신대방6길,-,-,-,NaN,NaN,단독다가구
41234,154373,서울특별시 금천구 독산동,37.65,전세,202301,1,9000,0,1993.0,시흥대로90길,-,-,-,NaN,NaN,단독다가구
41235,154383,서울특별시 영등포구 당산동1가,42.70,전세,202301,1,28324,0,1970.0,영등포로29길,202301~202412,신규,-,NaN,NaN,단독다가구

2024년 단독 다가구 전세

,NO,시군구,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,2,서울특별시 성동구 행당동,42.00,전세,202412,31,14000,0,1998.0,마조로1길,202501~202701,갱신,-,"13,000",0.0,단독다가구
1,5,서울특별시 용산구 서계동,26.45,전세,202412,31,3000,0,1944.0,효창원로104라길,202501~202701,신규,-,NaN,NaN,단독다가구
2,12,서울특별시 용산구 용산동2가,61.17,전세,202412,31,25000,0,1994.0,신흥로25가길,202502~202702,신규,-,NaN,NaN,단독다가구
3,19,서울특별시 광진구 중곡동,40.80,전세,202412,31,11000,0,1990.0,능동로43길,202502~202702,신규,-,NaN,NaN,단독다가구
4,22,서울특별시 성동구 성수동2가,50.00,전세,202412,31,16000,0,1995.0,성덕정길,202502~202702,신규,-,NaN,NaN,단독다가구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32629,141332,서울특별시 중랑구 망우동,36.00,전세,202401,1,4000,0,NaN,용마산로120길,202401~202812,신규,-,NaN,NaN,단독다가구
32630,141338,서울특별시 동작구 노량진동,50.00,전세,202401,1,15000,0,1970.0,장승배기로18가길,202401~202412,신규,-,NaN,NaN,단독다가구
32631,141349,서울특별시 서대문구 창천동,20.00,전세,202401,1,10000,0,2001.0,신촌로7길,202404~202602,신규,-,NaN,NaN,단독다가구
32632,141353,서울특별시 서대문구 남가좌동,18.00,전세,202401,1,7000,0,2017.0,증가로8길,202402~202501,신규,-,NaN,NaN,단독다가구
32633,141363,서울특별시 노원구 하계동,50.00,전세,202401,1,10000,0,1995.0,공릉로58길,202401~202612,갱신,-,"9,500",0.0,단독다가구

In [ ]:
print("2023년 단독 다가구 전세")
display(df_deal2023_cleaned['계약구분'].value_counts().reset_index())
print("2024년 단독 다가구 전세")
display(df_deal2024_cleaned['계약구분'].value_counts().reset_index())

2021년 단독 다가구 전세

  계약구분  count
0    -  43441
1   신규  17588
2   갱신   4756

2022년 단독 다가구 전세

  계약구분  count
0   신규  24842
1    -  20813
2   갱신   9874

2023년 단독 다가구 전세

  계약구분  count
0   신규  21359
1    -  12787
2   갱신   7090

2024년 단독 다가구 전세

  계약구분  count
0   신규  23222
1   갱신   6425
2    -   2987