In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm

plt.rcParams['font.family'] = 'Malgun Gothic' 
plt.rcParams['axes.unicode_minus'] = False

In [4]:
df_23 = pd.read_csv('C:/Users/rmagm/OneDrive/바탕 화면/vscode/SDC_project/multi_household/단독다가구(매매)_실거래가_2023년.csv',encoding='cp949', header=15)
df_24 = pd.read_csv('C:/Users/rmagm/OneDrive/바탕 화면/vscode/SDC_project/multi_household/단독다가구(매매)_실거래가_2024년.csv', encoding='cp949', header=15)

In [6]:
multi_deal = pd.concat([df_23, df_24])

In [7]:
multi_deal

,NO,시군구,번지,주택유형,도로조건,연면적(㎡),대지면적(㎡),계약년월,계약일,거래금액(만원),매수,매도,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,1,서울특별시 강북구 수유동,1**,단독,8m미만,39.67,65.5,202312,30,"20,000",-,-,1969.0,한천로140가길,-,직거래,-
1,2,서울특별시 동작구 노량진동,2**,단독,8m미만,157.74,119.0,202312,30,"144,000",-,-,1984.0,장승배기로22길,-,중개거래,"서울 동작구, 서울 용산구"
2,3,서울특별시 용산구 서계동,4*,다가구,NaN,129.39,74.4,202312,30,"112,500",-,-,1994.0,청파로85가길,-,중개거래,서울 용산구
3,4,서울특별시 서초구 방배동,5**,단독,8m미만,197.79,165.0,202312,29,"160,000",-,-,1993.0,청두곶4길,-,직거래,-
4,5,서울특별시 강북구 미아동,1***,단독,25m미만,123.78,43.0,202312,29,"53,400",-,-,1971.0,삼양로,-,중개거래,서울 강북구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3310,3311,서울특별시 양천구 신정동,9**,다가구,8m미만,294.24,126.0,202401,2,"90,000",개인,개인,1997.0,은행정로11나길,-,중개거래,서울 양천구
3311,3312,서울특별시 광진구 중곡동,5**,다가구,8m미만,136.07,91.9,202401,2,"49,750",개인,개인,1993.0,답십리로,-,중개거래,서울 중랑구
3312,3313,서울특별시 도봉구 쌍문동,2*,다가구,8m미만,142.13,93.0,202401,2,"45,000",개인,개인,1992.0,도봉로139길,-,직거래,-
3313,3314,서울특별시 용산구 용문동,3*,단독,8m미만,163.90,231.1,202401,2,"370,000",법인,개인,1974.0,효창원로37라길,-,중개거래,서울 용산구
3314,3315,서울특별시 마포구 아현동,3**,단독,12m미만,241.85,84.3,202401,2,"170,000",개인,개인,1970.0,신촌로30길,-,중개거래,서울 마포구

In [8]:
multi_deal['계약시기'] = pd.to_datetime(multi_deal['계약년월'].astype(str) + multi_deal['계약일'].astype(str))

In [9]:
multi_deal = multi_deal[multi_deal['계약시기']>='2023-06-01']

In [10]:
multi_deal['구'] = multi_deal['시군구'].str.extract(r'(\S+구)')
multi_deal.isnull().sum()

C:\Users\rmagm\AppData\Local\Temp\ipykernel_19824\473154687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multi_deal['구'] = multi_deal['시군구'].str.extract(r'(\S+구)')

NO            0
시군구           0
번지            0
주택유형          0
도로조건        312
연면적(㎡)        0
대지면적(㎡)       0
계약년월          0
계약일           0
거래금액(만원)      0
매수            0
매도            0
건축년도         16
도로명          36
해제사유발생일       0
거래유형          0
중개사소재지        0
계약시기          0
구             0
dtype: int64

In [11]:
multi_deal.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4952 entries, 0 to 3314
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NO        4952 non-null   int64
 1   시군구       4952 non-null   object
 2   번지        4952 non-null   object
 3   주택유형      4952 non-null   object
 4   도로조건      4640 non-null   object
 5   연면적(㎡)    4952 non-null   float64
 6   대지면적(㎡)   4952 non-null   float64
 7   계약년월      4952 non-null   int64
 8   계약일       4952 non-null   int64
 9   거래금액(만원)  4952 non-null   object
 10  매수        4952 non-null   object
 11  매도        4952 non-null   object
 12  건축년도      4936 non-null   float64
 13  도로명       4916 non-null   object
 14  해제사유발생일   4952 non-null   object
 15  거래유형      4952 non-null   object
 16  중개사소재지    4952 non-null   object
 17  계약시기      4952 non-null   datetime64[ns]
 18  구         4952 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(3), object(12)
memory usage: 773.8+ KB

In [12]:
multi_deal['거래금액(만원)'] = multi_deal['거래금액(만원)'].astype(str).str.replace(',', '', regex=False)
multi_deal['거래금액(만원)'] = pd.to_numeric(multi_deal['거래금액(만원)']).astype(int)

C:\Users\rmagm\AppData\Local\Temp\ipykernel_19824\2521566874.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multi_deal['거래금액(만원)'] = multi_deal['거래금액(만원)'].astype(str).str.replace(',', '', regex=False)
C:\Users\rmagm\AppData\Local\Temp\ipykernel_19824\2521566874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multi_deal['거래금액(만원)'] = pd.to_numeric(multi_deal['거래금액(만원)']).astype(int)

In [13]:
multi_deal.to_csv("multi_deal.csv", index=False, encoding='utf-8')